body
{
      background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;

}
.navbar-brand
{
    font-size: 23px;
    font-weight: bold;
    font-style: italic;
    font-family: cursive
}
li 
{
    font-size: 16px;
    margin-left: 8px;
    font-style: italic;
    font-family: cursive
}
.navbar {
    background-color: #333333;
    height: 50px;
    text-align: center;
    top:0px;
}
.dark
{
    background-color: #333333;
}
.active
{
   background-color: #ECE5B6; 
  font-color:black;
  border-radius:5px;
  display: inline;
  
}
.nav-link:hover
{
    background-color:#127687;
    border-radius: 5px;
}


.div2
{
  
    color: black;
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    top:10%;
    font-size: 24px;
    text-align: center;
    font-style:italic;
    font-family: cursive;
     
   
}
.div2 a
{
    color: black;
    text-decoration: none;
    border-bottom: 2px solid white;
    border-radius: 15px;
}
.div2 a:hover
{
    color:#390e52;
    border-bottom: 2px solid #390e52;
    border-radius: 15px;
}
 p
{
    background-color: rgba(255, 0, 0, 0.2);;
    width:700px;

   position: absolute;
    left: 43%;
    top:25%;
  opacity: 0.7;
    text-indent: 15px;
}
h3
{
    text-align: center;


}

